#app {
  height: 100vh;
  width: 100vw;
  background-color: red;
  background: url(/images/47219.jpg); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#submit-form {
  margin-top: 40px;
}

.lead-form {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 10px 50px 30px 50px;
  margin-top: 100px;
}

span.city-span {
  color: (#444);
  text-transform: uppercase;
  margin-left: 5px;
  margin-top: 10px;
}

.form-control {
  margin-bottom: 3px;
}
