<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vue.js Tutorial | API Example</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center">DRON GAME</h1>
          <hr />
        </div>
      </div>
      <div class="row">

        <div class="col-md-12 col-md-6">
          <div v-if="containerGame" id="hide">
            <div class="player-form">
              <h1 class="text-center">Round {{round_number}}</h1>
              <hr/>
              <h1 class="text-center">Player: {{player}}</h1>
              <div class="row">
                <div class="col-md-12">
                    <label for="player1">Select move:</label>
                  <select class="form-control" v-model="selected">
                    <option disabled value="">move option</option>
                    <option>paper</option>
                    <option>rock</option>
                    <option>scissors</option>
                  </select>
                  <p>{{message}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-primary btn-block" id="submit-form" v-on:click="play">Play</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <h3>Temporal Score</h3>
                <div class="col-md-12 col-md-6">
                  <h4 style="background:white">{{player1Name}}</h4>
                  <h4 style="background:white">{{player2Name}}</h4>
                </div>
                <div class="col-md-12 col-md-6">
                  <h4 style="background:white">{{player1Score}}</h4>
                  <h4 style="background:white">{{player2Score}}</h4>
                </div>
              </div>
            </div><!-- end of .lead-form -->
          </div>
          <div v-if="containerGameAgain" id="hide">
            <div class="player-form">

              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-primary btn-block" id="submit-form" v-on:click="playAgain">Play again</button>
                </div>
              </div>
            </div><!-- end of .lead-form -->
          </div>
        </div> <!-- end of .col-md-6.col-md-offset-3 -->
        <div class="col-md-12 col-md-6">
          <div class="player-form">
            <h1 class="text-center">Rounds</h1>
            <hr/>
            <div class="row">
              <div class="col-md-12 col-md-6">
                <h4>Round</h4>
                <ul>
                  <li v-for="round in round_nums">
                    {{ round.number }}
                  </li>
                </ul>
              </div>
              <div class="col-md-12 col-md-6">
                <h4>Winner</h4>
                <ul>
                  <li v-for="winner in winner_rounds">
                    {{ winner.name }}
                  </li>
                </ul>
              </div>
            </div>

          </div><!-- end of .lead-form -->
        </div> <!-- end of .col-md-6.col-md-offset-3 -->
      </div> <!-- end of .row -->
    </div> <!-- end of .container -->
  </div> <!-- end of #app -->
</body>

  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>

  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  <script src='/js/game.js'></script>
</html>
